.camera-view .av-control.toggle .fa-closed-captioning.active {
  color: #fff;
}

.camera-view .av-control.livekit-control.hidden {
  display: none;
}

.camera-view .av-control.livekit-control.disabled {
  pointer-events: none;
}

.camera-view .connection-quality-indicator {
  height: 12px;
  width: 12px;
  border: 1px solid #f0f0e0;
  border-radius: 50%;
  display: inline-block;
}

.camera-view .connection-quality-indicator.is-version-10-av {
  position: absolute;
  bottom: calc(var(--av-frame-absolute-margin) + 5px);
  left: calc(16px + var(--av-frame-absolute-margin));
}

.camera-view .connection-quality-indicator.is-version-10-av.no-nameplate {
  left: calc(4px + var(--av-frame-absolute-margin));
}

.camera-view .connection-quality-indicator.excellent {
  background-color: green;
}

.camera-view .connection-quality-indicator.good {
  background-color: yellow;
}

.camera-view .connection-quality-indicator.poor {
  background-color: firebrick;
}

.camera-view .connection-quality-indicator.unknown {
  background-color: #f0f0e0;
}

.camera-view .status-remote-hidden,
.camera-view .status-remote-muted {
  font-size: 20px;
  width: 30px;
  line-height: 30px;
  color: #ba2200;
}
.camera-view .status-remote-hidden.hidden,
.camera-view .status-remote-muted.hidden,
.camera-view .status-remote-ptt.hidden {
  display: none;
}

.camera-view .status-remote-ptt {
  font-size: 20px;
  width: 30px;
  line-height: 30px;
  color: gray;
}

.camera-view .status-remote-ptt.active {
  color: greenyellow;
}

.camera-view .control-bar.left {
  z-index: 30;
}
