{{#*inline "deviceList"}}
<div class="form-group stacked">
    <label>{{localize label}}:</label>
    <select name="{{name}}">
        {{#if disabledLabel}}
        <option value="disabled" {{#if disabled}}selected{{/if}}>{{localize disabledLabel}}</option>
        {{/if}}
        {{#select device}}
        <option value="default">{{localize "WEBRTC.DefaultSource"}}</option>
        {{#each deviceList as |label d|}}
        <option value="{{d}}">{{label}}</option>
        {{/each}}
        {{/select}}
        {{#if unavailable}}
        <option value="{{device}}" selected>{{localize "WEBRTC.UnavailableDevice"}}</option>
        {{/if}}
    </select>
    <p class="notes">{{localize notes}}</p>
</div>
{{/inline}}

<form>
    <!-- Sheet Navigation Tabs -->
    <nav class="sheet-tabs tabs" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
        <a class="item" data-tab="general">
            <i class="fas fa-headset"></i> {{localize "WEBRTC.GeneralTab"}}
        </a>
        <a class="item" data-tab="devices">
            <i class="fas fa-headset"></i> {{localize "WEBRTC.DevicesTab"}}
        </a>
        {{#if user.isGM}}
        <a class="item" data-tab="server">
            <i class="fas fa-server"></i> {{localize "WEBRTC.ServerTab"}}
        </a>
        {{/if}}
        <a class="item" data-tab="livekit">
            <i class="fas fa-cogs"></i> {{localize "LIVEKITAVCLIENT.moduleName"}}
        </a>
    </nav>

    <!-- General Tab -->
    <div class="tab" data-tab="general">
        <div class="form-group stacked">
            <label>{{localize "WEBRTC.AVMode"}}:</label>
            <select name="world.mode" data-dtype="Number" {{#unless canSelectMode}}disabled{{/unless}}>
                {{selectOptions modes selected=settings.world.mode localize=true}}
            </select>
            <p class="notes">{{ localize "WEBRTC.AVModeNotes" }}</p>
            {{#if noSSL}}
            <p class="notification error">{{ localize "WEBRTC.NoSSLError" }}</p>
            {{/if}}
        </div>

        <div class="form-group">
            <label>{{localize "WEBRTC.VoiceMode"}}</label>
            <select name="client.voice.mode">
                {{selectOptions voiceModes selected=settings.client.voice.mode localize=true}}
            </select>
            <p class="notes">{{ localize "WEBRTC.VoiceModeNotes" }}</p>
        </div>

        {{#if isVersion10AV}}
        <div class="form-group">
            <label>{{localize "WEBRTC.DockPosition"}}</label>
            <select name="client.dockPosition">
                {{selectOptions dockPositions selected=settings.client.dockPosition}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "WEBRTC.Nameplates"}}</label>
            <select name="client.nameplates" data-dtype="Number">
                {{selectOptions nameplates selected=nameplateSetting localize=true}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "WEBRTC.BorderColors"}}</label>
            <input type="checkbox" name="client.borderColors" {{checked settings.client.borderColors}}>
        </div>
        {{/if}}
    </div>

    <!-- Devices Tab -->
    <div class="tab" data-tab="devices">
        {{> deviceList label="WEBRTC.VideoDevice" name="client.videoSrc" disabledLabel="WEBRTC.DisableVideoSource"
        device=settings.client.videoSrc deviceList=videoSources unavailable=videoSrcUnavailable
        notes="WEBRTC.VideoDeviceNotes" disabled=videoDisabled}}
        {{> deviceList label="WEBRTC.AudioDevice" name="client.audioSrc" disabledLabel="WEBRTC.DisableAudioSource"
        device=settings.client.audioSrc deviceList=audioSources unavailable=audioSrcUnavailable
        notes="WEBRTC.AudioDeviceNotes" disabled=audioDisabled}}
        {{#if audioSinks}}
        {{> deviceList label="WEBRTC.AudioOutput" name="client.audioSink"
        device=settings.client.audioSink deviceList=audioSinks unavailable=audioSinkUnavailable
        notes="WEBRTC.AudioOutputNotes"}}
        {{/if}}
    </div>

    <!-- Server Tab -->
    {{#if user.isGM}}
    <div class="tab" data-tab="server">
        <div class="form-group">
            <label>{{localize "LIVEKITAVCLIENT.serverType"}}:</label>
            <select name="world.livekit.type">
                {{selectOptions liveKitServerTypes selected=settings.world.livekit.type nameAttr="key" labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="form-group livekit-details">
            <label>{{localize "LIVEKITAVCLIENT.liveKitServerDetails"}}:</label>
            <p></p>
        </div>
        <div class="form-group submenu livekit-tavern-auth">
            <label>{{localize "LIVEKITAVCLIENT.tavernAccountLabel"}}:</label>
            {{#if settings.world.livekit.tavernPatreonToken}}
                <button type="button" id="tavern-logout-button">
                    <i class="fa-brands fa-patreon"></i>
                    <label>{{ localize "LIVEKITAVCLIENT.tavernAccountLogoutLabel" }}</label>
                </button>
                {{#if tavernAuthResponse }}
                <p class="notes">
                    {{#if tavernAuthResponse.error}}
                      {{ localize "LIVEKITAVCLIENT.patreonAccountError"}}: <i>{{tavernAuthResponse.error}}</i>
                    {{else}}
                      {{ localize "LIVEKITAVCLIENT.patreonAccountNote"}}: <i>{{#if tavernAuthResponse.vanity}}{{tavernAuthResponse.vanity}}{{else}}{{tavernAuthResponse.full_name}}{{/if}}</i>
                      (<a href="https://www.patreon.com/bekit">{{#if tavernAuthResponse.active_tier}}{{tavernAuthResponse.active_tier}}{{else}}{{localize "LIVEKITAVCLIENT.patreonAccountNotMember"}}{{/if}}</a>)
                    {{/if}}
                </p>
                {{/if}}
            {{else}}
                <button type="button" id="tavern-patreon-button">
                    <i class="fa-brands fa-patreon"></i>
                    <label>{{ localize "LIVEKITAVCLIENT.tavernAccountPatreonLabel" }}</label>
                </button>
                <p class="notes">{{ localize "LIVEKITAVCLIENT.tavernAccountPatreonHint" }}</p>
                <div class="form-group tavern-account-token hidden" id="tavern-account-token">
                    <label>{{localize "LIVEKITAVCLIENT.tavernAccountToken"}}:</label>
                    <input type="password" name="world.livekit.tavernPatreonToken" value="{{settings.world.livekit.tavernPatreonToken}}" />
                    <p class="notes">{{ localize "LIVEKITAVCLIENT.tavernAccountTokenHint" }}</p>
                </div>
            {{/if}}
        </div>
        <div class="webrtc-custom-server-config">
            <div class="form-group livekit-url">
                <label>{{localize "LIVEKITAVCLIENT.liveKitServerURL"}}:</label>
                <input type="text" name="world.server.url" value="{{settings.world.server.url}}" />
            </div>
            <div class="form-group livekit-username">
                <label>{{localize "LIVEKITAVCLIENT.liveKitServerAPIKey"}}:</label>
                <input type="text" name="world.server.username" value="{{settings.world.server.username}}" />
            </div>
            <div class="form-group livekit-password">
                <label>{{localize "LIVEKITAVCLIENT.liveKitServerSecretKey"}}:</label>
                <input type="password" name="world.server.password" value="{{settings.world.server.password}}" />
            </div>
        </div>
    </div>
    {{/if}}

    <!-- Livekit Tab -->
    <div class="tab" data-tab="livekit">
        {{#each this.liveKitSettings}}
        <div class="form-group">
            <label>{{this.name}}</label>
            <div class="form-fields">

                {{#if this.isCheckbox}}
                <input type="checkbox" name="{{this.id}}" data-dtype="Boolean" {{checked this.value}}/>

                {{else if this.isSelect}}
                <select name="{{this.id}}" data-dtype="{{this.settingType}}">
                    {{#select this.value}}
                    {{#each this.choices as |name k|}}
                    <option value="{{k}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>

                {{else if this.isRange}}
                <input type="range" name="{{this.id}}" data-dtype="Number" value="{{ this.value }}"
                    min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}"/>
                <span class="range-value">{{this.value}}</span>

                {{else if this.filePicker}}
                {{filePicker target=this.id type=this.filePickerType}}
                <input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.settingType}}"/>

                {{else if this.isNumber}}
                {{numberInput this.value name=this.id}}

                {{else}}
                <input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.settingType}}"/>
                {{/if}}
            </div>

            <p class="notes">{{this.hint}}</p>
        </div>
        {{/each}}
    </div>

    <button type="submit" {{#if noSSL}}disabled{{/if}}>
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
</form>