{{#*inline "cameraBox"}}
<div
  class="camera-view {{this.cameraViewClass}}"
  data-user="{{this.id}}"
  style="border-color: {{this.color}};"
>
  <div
    class="video-container {{#if this.settings.popout}}camera-container-popout{{/if}}"
  >
    <img class="user-avatar" src="{{this.avatar}}" />
    <video
      class="user-camera {{#if this.local}}local-camera{{/if}}"
      style="visibility: hidden; display: none"
      autoplay="autoplay"
      playsinline="playsinline"
    ></video>
  </div>

  {{!-- Left Control Bar --}}
  <div class="control-bar left flexcol hidden">
    <a class="av-control toggle global" title="" data-action="block-video">
      <i class="fas fa-fw"></i>
    </a>
    <a class="av-control toggle global" title="" data-action="block-audio">
      <i class="fas fa-fw"></i>
    </a>

    {{#if this.settings.popout}}
    <a
      class="av-control toggle"
      title="{{localize 'WEBRTC.TooltipDock'}}"
      data-action="toggle-popout"
    >
      <i class="fas fa-external-link-square-alt fa-rotate-180"></i>
    </a>
    {{else}}
    <a
      class="av-control toggle"
      title="{{localize 'WEBRTC.TooltipPopout'}}"
      data-action="toggle-popout"
    >
      <i class="fas fa-external-link-alt"></i>
    </a>
    {{/if}} {{#if this.local}}
    <a
      class="av-control"
      title="{{localize 'WEBRTC.TooltipConfigure'}}"
      data-action="configure"
    >
      <i class="fas fa-cog"></i>
    </a>
    {{/if}}
  </div>

  {{!-- Bottom Control Bar --}}
  <div class="control-bar bottom flexrow hidden">
    <div class="volume-bar">
      <i class="fas fa-volume-down fa-fw vol-min"></i>
      <input
        class="webrtc-volume-slider"
        type="range"
        min="0"
        max="1"
        step="0.05"
        value="{{this.volume}}"
      />
      <i class="fas fa-volume-up fa-fw vol-max"></i>
    </div>

    {{#if this.local}}
    <a class="av-control toggle" title="" data-action="toggle-players">
      <i class="far fw"></i>
    </a>

    <a
      class="av-control toggle"
      title="{{localize 'WEBRTC.TooltipChangeSize'}}"
      data-action="change-size"
    >
      <i class="fas fa-arrows-alt-v"></i>
    </a>
    {{/if}}

    <a class="av-control toggle" title="" data-action="toggle-video">
      <i class="fas fa-fw"></i>
    </a>

    <a class="av-control toggle" title="" data-action="mute-peers">
      <i class="fas fa-fw"></i>
    </a>

    <a class="av-control toggle" title="" data-action="toggle-audio">
      <i class="fas fa-fw"></i>
    </a>

    {{!-- Receive side mute/hide --}}
    <a
      class="av-control toggle global"
      title=""
      data-action="toggle-receive-video"
    >
      <i class="fas fa-fw"></i>
    </a>
    <a
      class="av-control toggle global"
      title=""
      data-action="toggle-receive-audio"
    >
      <i class="fas fa-fw"></i>
    </a>
  </div>

  {{!-- Right Notification Bar --}}
  <div class="notification-bar right flexcol">
    <i class="fas fa-video-slash fa-fw status-hidden hidden"></i>
    <i class="fas fa-microphone-slash fa-fw status-muted hidden"></i>
  </div>

  <h3
    class="player-name"
    style="border-color: {{this.color}};  background: {{this.colorAlpha}};"
  >
    {{this.name}}{{#if this.charname}} [{{this.charname}}]{{/if}}
  </h3>
</div>
{{/inline}}

<div id="camera-views" class="app flexrow {{dockClass}}">
  {{#each users}} {{#if this.settings.popout}}
  <div id="camera-views-user-{{this.id}}" class="app camera-view-popout">
    {{> cameraBox isGM=../self.isGM muteAll=../muteAll}}
  </div>
  {{else}} {{> cameraBox isGM=../self.isGM muteAll=../muteAll
  dockClass=../dockClass}} {{/if}} {{/each}}
</div>
